$dark-red: #AA0000;
$dark-green: #00AA00;
$small-margin: 2rem;
$large-margin: 4rem;

.main-container {
  margin-top: $large-margin;
}

.heading {
  margin-bottom: $large-margin;
}

.page-title {
  margin-bottom: $small-margin;
}

.login-form-container {
  margin-left: auto;
  margin-right: auto;
}

.login-form-extra-links {
  margin-top: $small-margin;
  text-align: center;
}

.form-error-msg {
  color: $dark-red;
  margin-bottom: $small-margin;
}

.form-success-msg {
  color: $dark-green;
  margin-bottom: $small-margin;
}

.required-label {
  color: $dark-red;
}
