.no-icon, .spell-detail-value {
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif; }

.main-container {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.heading {
  margin-bottom: 4rem; }

.page-title {
  margin-bottom: 2rem; }

.login-form-container {
  margin-left: auto;
  margin-right: auto; }

.login-form-extra-links {
  margin-top: 1rem;
  text-align: center; }

.form-error-msg {
  color: #AA0000;
  margin-bottom: 1rem; }

.form-success-msg {
  color: #00AA00;
  margin-bottom: 1rem; }

.required-label {
  color: #AA0000; }

.pt-form-group .pt-form-helper-text {
  padding-left: 0.15rem; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

/* Searchable dropdown customs */
.searcher > div > span > div {
  width: 100%; }

.dropdown-btn > .pt-icon-caret-down:before {
  line-height: 1;
  font-family: Icons16,sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 0;
  right: 7px;
  line-height: 30px;
  color: #5c7080;
  content: "\E6C6";
  pointer-events: none; }

.pt-popover-content > div > .pt-menu {
  max-height: 305px;
  overflow: auto; }

/* --------------------------- */
.pt-tree-node:not(:last-child) {
  border-bottom: 1px solid rgba(16, 22, 26, 0.15); }

.pt-tree-node-list {
  max-height: 310px;
  overflow: auto; }

.character-card {
  margin-top: 1.5rem; }

.item-list-amount {
  margin-right: 1rem;
  cursor: pointer; }

.item-amount-popover {
  padding: 20px; }

.item-amount-popover > div {
  margin-top: 0.25rem; }

.remove-item-btn {
  color: #AA0000;
  text-decoration: none;
  cursor: pointer; }

.remove-item-btn:hover {
  color: red;
  text-decoration: none;
  cursor: pointer; }

.spellsheet-form-group {
  margin: 0 !important;
  text-align: center; }

.text-success {
  color: #00AA00; }

.text-error {
  color: #AA0000; }

.char-sheet-editable-text {
  font-weight: bold;
  cursor: pointer;
  font-size: 16px; }

.char-sheet-spell-header,
.char-sheet-spell-header-editable {
  font-weight: bold;
  font-size: 16px; }

.char-sheet-spell-header-editable {
  cursor: pointer; }

.spell-list-header-row {
  border-bottom: 1px solid rgba(16, 22, 26, 0.15); }

.pt-dialog-body > span > div {
  width: 100%; }

.spell-detail-label {
  font-weight: bold; }

.spellsheet-form-group .pt-form-helper-text {
  padding-left: 0; }

.spell-modal-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-top: 1rem; }

.spell-modal-filters > div {
  -webkit-flex-basis: 50%;
  flex-basis: 50%; }

.spell-modal-filters > div:first-child {
  padding-right: 0.5rem; }

.spell-modal-filters > div:last-child {
  padding-left: 0.5rem; }

.death-save-input {
  margin: 0 30px 0 0 !important;
  padding: 0 !important; }

.death-save-input:last-of-type {
  margin: 0 15px 0 0 !important;
  padding: 0 !important; }

.pt-control.pt-checkbox input:checked ~ .death-save-one::before {
  content: '\0031';
  font-size: 13px; }

.pt-control.pt-checkbox input:checked ~ .death-save-two::before {
  content: '\0032';
  font-size: 13px; }

.pt-control.pt-checkbox input:checked ~ .death-save-three::before {
  content: '\0033';
  font-size: 13px; }

@media screen and (min-width: 768px) {
  .col-vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; } }

.pt-tab-panel {
  width: 100%; }
