$dark-red: #AA0000;
$dark-green: #00AA00;
$small-margin: 1rem;
$medium-margin: 2rem;
$large-margin: 4rem;

hr {
  margin: 15px 0 20px 0;
}

.main-container {
  margin-top: $large-margin;
  margin-bottom: $large-margin;
}

.heading {
  margin-bottom: $large-margin;
}

.page-title {
  margin-bottom: $medium-margin;
}

.login-form-container {
  margin-left: auto;
  margin-right: auto;
}

.login-form-extra-links {
  margin-top: $small-margin;
  text-align: center;
}

.form-error-msg {
  color: $dark-red;
  margin-bottom: $small-margin;
}

.form-success-msg {
  color: $dark-green;
  margin-bottom: $small-margin;
}

.required-label {
  color: $dark-red;
}

.pt-form-group .pt-form-helper-text {
  padding-left: 0.15rem;
}

.text-left {
  text-align: left;
}

/* Searchable dropdown customs */
.searcher > div > span > div {
  width: 100%;
}

.dropdown-btn > .pt-icon-caret-down:before {
  line-height: 1;
  font-family: Icons16,sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 0;
  right: 7px;
  line-height: 30px;
  color: #5c7080;
  content: "\E6C6";
  pointer-events: none;
}

.pt-popover-content > div > .pt-menu {
  max-height: 305px;
  overflow: auto;
}
/* --------------------------- */

.pt-tree-node-list {
  max-height: 210;
  overflow: auto;
}

.character-card {
  margin-top: 1.5rem;
}

.item-list-amount {
  margin-right: 1rem;
  cursor: pointer;
}

.item-amount-popover {
  padding: 20px;
}

.item-amount-popover > div {
  margin-top: 0.25rem;
}

.remove-item-btn {
  color: $dark-red;
  text-decoration: none;
  cursor: pointer;
}

.remove-item-btn:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
