hr {
  margin: 15px 0 20px 0; }

.main-container {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.heading {
  margin-bottom: 4rem; }

.page-title {
  margin-bottom: 2rem; }

.login-form-container {
  margin-left: auto;
  margin-right: auto; }

.login-form-extra-links {
  margin-top: 1rem;
  text-align: center; }

.form-error-msg {
  color: #AA0000;
  margin-bottom: 1rem; }

.form-success-msg {
  color: #00AA00;
  margin-bottom: 1rem; }

.required-label {
  color: #AA0000; }

.pt-form-group .pt-form-helper-text {
  padding-left: 0.15rem; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center !important; }

/* Searchable dropdown customs */
.searcher > div > span > div {
  width: 100%; }

.dropdown-btn > .pt-icon-caret-down:before {
  line-height: 1;
  font-family: Icons16,sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 0;
  right: 7px;
  line-height: 30px;
  color: #5c7080;
  content: "\E6C6";
  pointer-events: none; }

.pt-popover-content > div > .pt-menu {
  max-height: 305px;
  overflow: auto; }

/* --------------------------- */
.pt-tree-node-list {
  max-height: 210;
  overflow: auto; }

.character-card {
  margin-top: 1.5rem; }

.item-list-amount {
  margin-right: 1rem;
  cursor: pointer; }

.item-amount-popover {
  padding: 20px; }

.item-amount-popover > div {
  margin-top: 0.25rem; }

.remove-item-btn {
  color: #AA0000;
  text-decoration: none;
  cursor: pointer; }

.remove-item-btn:hover {
  color: red;
  text-decoration: none;
  cursor: pointer; }

.spellsheet-form-group {
  margin: 0 !important;
  text-align: center; }

.text-success {
  color: #00AA00; }

.text-error {
  color: #AA0000; }

.char-sheet-editable-text {
  font-weight: bold;
  cursor: pointer;
  font-size: 18px; }

.char-sheet-spell-header,
.char-sheet-spell-header-editable {
  font-weight: bold;
  font-size: 15px; }

.char-sheet-spell-header-editable {
  cursor: pointer; }
